<p id="timer">00:00:00</p>
            <ul id="btn">
      <li class="btn-item" id="start" >スタート</li>
      <li class="btn-item disabled" id="stop">ストップ</li>
      <li class="btn-item disabled" id="reset" >リセット</li>
    </ul>