<div class="task_list">
  <h1>検索結果</h1>
  <table class="table table-sm" border="1" width="50%" align="center">
    <tr bgcolor="silver">
      <th>作成日</th>
      <th>ステータス</th>
      <th>タスク</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr class="table-secondary">
        <th><%= task.created_at.strftime('%Y/%m/%d') %></th>
        <% if task.done != true && task.doing != true %>
          <th>未完了</th>
        <% elsif task.done != true && task.doing == true %>
          <th>進行中</th>
        <% else %>
          <th>完了済</th>
        <% end %>
        <th><%= task.content %></th>
      </tr>
    <% end %>
  </table>
</div>