//top
.top {
  text-align: center;
  width: auto;
  p {
  padding: 20px;
} .container {
  background-color: grey;
  margin: 150px 150px;
} .content {
  padding: 50px;
} }

//header
.nav-item {
  padding-left: 40px;
}
.navbar-brand {
  font-weight: bold;
  color: white;
}
//error
.errors {
  color: red;
  margin-top: 30px;
  margin-bottom: 30px;
}

.field_with_errors {
  display: contents;
}

//flash
.flash_messages {
  color: red;
  font-weight: bold;
}

//task
.task_form {
  width: 70%;
  margin: auto;
  text-align: center;
}

.task_list {
  ul {
    list-style-type: none;
  }
  table {
    border-spacing: 0px 2px;
  }
  width: 80%;
  margin: auto;
}

//user
.user_info {
  text-align: center;
  padding-top: 10px;
}