//top
.top {
  text-align: center;
  width: auto;
  p {
  padding: 20px;
} .container {
  background-color: grey;
  margin: 150px 150px;
} .content {
  padding: 50px;
} }

//header
header {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  a {
    color: white;
  }
  .nav {
  margin: 0 auto;
} ul {
  padding-left: 50px;
  display: flex;
  text-align: right;
} li {
  font-weight: bold;
  list-style: none;
  padding: 10px 30px;
  display: inline;
} .title {
  float: left;
  color: white;
  font-size: 30px;
  padding: 0 30px;
  text-decoration: none !important;
} .container {
  width: 1200px;
} }

// body
body {
  .main {
    margin-top: 100px;
  }
}

//error
.errors {
  color: red;
  margin-top: 30px;
  margin-bottom: 30px;
}

.field_with_errors {
  display: contents;
}

//flash
.flash_messages {
  color: red;
  font-weight: bold;
}

//task
.task_form {
  padding-left: 50px;
}